<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to India
  </h1>
  <img width="200" alt="Angular Logo" src="../assets/images/india.png"><br>

<p><a href="https://insta-search-app.herokuapp.com/">click to view my page</a> </p>
</div> <br>

<div style="text-align:center">

  <button (click) = "increase($event)"> num1++</button>
 = {{num1}} <br>
  <button (click) = "increase1($event)"> num2++</button>
  ={{num2}} <br><br>
  <button (click) = " Average($event)">average</button><br>
  {{avg}}
</div>





